.tableContainer {
  width: 100%;
  max-height: calc(100vh - 200px);

  margin: 20px 0;
  border-radius: 8px;

  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;

  background-color: #1e1e1e;
  color: #ffffff;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #333;
}

.table th {
  font-weight: bold;
  background-color: #2d2d2d;
  color: #ffffff;
}

.table td {
  min-width: 100px;
  background-color: #1e1e1e;
}

.table tr:last-child td {
  font-weight: bold;
}

.table tr:nth-child(even) td {
  background-color: #252525;
}

.cell:hover {
  background-color: red !important;
}

.highlight {
  background-color: #ffcc00 !important;
  color: black;
}
